.custom-popup-overlay-modif-voir {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1002;
}

.custom-popup-content-modif-voir {
    background-color: white;
    padding: 2%;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    height: 75%;
    display: flex;
    flex-direction: column;
    gap: 2%;
    overflow-y: auto;





}

.td-blocks-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;

}

.td-block {
    background-color: #f9f9f9;
    padding: 1%;
    margin-bottom: 2%;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 1%;
    height: 100%;
    max-height: 350px;
    justify-content: space-between; /* Add this line */
}

.td-block .td-group {
    font-weight: bold;
    margin-bottom: 1%;


}

.tp-groups {

    overflow-y: auto;
}

.td-block .td-group input {
    width: 100%;
    padding: 1%;
    border-radius: 8px;
    border: 2px solid #564787;
    margin-bottom: 2%;
}

.td-block .tp-group input {
    width: 50%;
    padding: 1%;
    border-radius: 8px;
    border: 2px solid #564787;
    margin-bottom: 2%;
}

.custom-button-container-block {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    margin-top: auto; /* Add this line */
}

.custom-button-container-block button {
    margin-right: 1%;
    margin-top: 1%;
    padding: 1%;
    width: 40%;
    background-color: #564787;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.custom-button-container-block button:hover {
    background-color: #453a6b;
}

.popupmodifpromo-header {
    background-color: #564787;
    color: white;
    padding: 1%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
    width: 100%;
}

.custom-button-container-mod {
    position: fixed;
    right: 12%;
    bottom: 19%;

    z-index: 3000;
}

.custom-button-container-mod button {
    padding: 8px 12px;
    background-color: #564787;
    color: white;
    border: none;
    margin-left: 10px;

    border-radius: 4px;
    cursor: pointer;

}

.custom-button-container-mod button:hover {
    background-color: #453a6b;
}

